# Dependências
node_modules/

# Build
dist/
build/
web-build/
android/app/build/
ios/build/
ios/Pods/

# Expo
.expo/
.expo-shared/
expo-env.d.ts

# Expo Router (se usar)
.metro-health-check*
*.expo/
*.expo-shared/

# Android/iOS keys & certificados
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Logs
npm-debug.*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Configurações de ambiente
.env
.env.*.local

# IDEs
.vscode/
.idea/

# Cache
.cache/
*.tmp
*.swp
*.bak

# macOS
.DS_Store

# Arquivos de sistema Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Coverage de testes
coverage/

# Arquivos de conflitos de merge
*.orig.*

# Tailwind / Nativewind específicos
nativewind-env.d.ts

# Outros diretórios (caso versionamento de nativo não seja necessário)
ios/
android/
